In [1]:
from init import *
from data.data import *
from model.model import *
from utils.utils import *

torch version: 2.3.0+cu121 device: cuda:0
model_dir: D:\college\NLP\stock_price_predict\models
images_dir: D:\college\NLP\stock_price_predict\images

In [2]:
# ========================= run =========================
# ========================= data phase =========================
stock_code = 'sz399300'
day_nums = 10000
raw_data = get_data(stock_code, day_nums)
raw_data.shape

(4722, 5)

In [3]:
raw_data

                open      high       low     close        volume

2005-01-04   994.769   994.769   980.658   982.794  7.412869e+08
2005-01-05   981.577   997.323   979.877   992.564  7.119109e+08
2005-01-06   993.331   993.788   980.330   983.174  6.288029e+08
2005-01-07   983.045   995.711   979.812   983.958  7.298694e+08
2005-01-10   983.760   993.959   979.789   993.879  5.791698e+08
...              ...       ...       ...       ...           ...
2024-06-11  3555.819  3565.311  3525.895  3542.877  1.345223e+10
2024-06-12  3539.095  3551.171  3531.566  3544.123  1.228137e+10
2024-06-13  3548.216  3551.077  3520.180  3526.131  1.232455e+10
2024-06-14  3514.800  3547.147  3503.523  3541.533  1.715169e+10
2024-06-17  3521.437  3540.793  3520.738  3536.198  1.374334e+10

[4722 rows x 5 columns]